/*
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}
*/
body {
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	letter-spacing: 0.03em;
}

.top-navigation {
	background-color: #fff;
}

.top-navigation .content {
	width: 60em;
	height: 4.375em;
	margin: 0.85em auto;
}

.top-navigation .links {
	float: right;
	color: #838994;
	margin-top: 0.7em;
	-webkit-font-smoothing: antialiased;
}

.top-navigation .links .active {
	color: #4c5058;
	font-weight: 500;
}

.top-navigation .links li {
	display: inline-block;
	margin-left: 1.2em;
}

.top-navigation .links li:hover {
	cursor: pointer;
	color: #333333;
}

.introduction {
	background-image: url("../images/first-background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	height: 43em;
}

.introduction .content {
	color: #fff;
	text-align: center;
	margin-top: -2.8em;
}

.introduction h1 {
	font-weight: lighter;
	font-size: 3em;
	padding-top: 5em;
}

.introduction h3 {
	font-size: 1.5em;
	font-weight: lighter;
	margin-top: -0.7em;
}

.introduction button {
	background-color: #ec4812;
	border: none;
	padding: 0.8em 1.6em;
	text-decoration: none;
	border-radius: 0.4em;
	font-size: 1.2em;
	color: #fff;
}

.introduction button:hover {
	background-color: #bc390e;
}