body {
	font-family: sans-serif;
}

.masthead-logo {
	float: left;
	width: 40%;
	text-align: center;
}

.masthead-logo > img {
	width: 2em;
	height: 2em;
}

.masthead-nav {
	float: right;
	width: 60%;
	text-align: center;
	border-spacing: 1em;
}

.masthead-nav > ul > li {
	display: inline-block;
}