/*
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}
*/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	letter-spacing: 0.03em;
}

.content {
	margin: auto;
}

.top-navigation {
	background-color: #fff;
	width: 100%;
	position: fixed;
	z-index: 99;
}

.top-navigation .content {
	width: 60em;
	height: 3.5em;
	padding-top: 1em;
}

.top-navigation .links {
	float: right;
	color: #838994;
	-webkit-font-smoothing: antialiased;
	margin-top: 0.5em;
}

.top-navigation .links .active {
	color: #4c5058;
	font-weight: 500;
}

.top-navigation .links li {
	display: inline-block;
	margin-left: 1.2em;
}

.top-navigation .links li:hover {
	cursor: pointer;
	color: #333333;
}

.introduction {
	background-image: url("../images/first-background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	height: 46em;
}

.introduction .content {
	text-align: center;
	color: #fff;
}

.introduction h1 {
	font-weight: lighter;
	font-size: 3em;
	margin-top: 0em;
	padding-top: 5.8em;
}

.introduction h3 {
	font-size: 1.5em;
	font-weight: lighter;
	margin-top: -0.85em;
}

.introduction button {
	background-color: #ec4812;
	border: none;
	padding: 0.8em 1.6em;
	text-decoration: none;
	border-radius: 0.4em;
	font-size: 1.2em;
	color: #fff;
}

.introduction button:hover {
	background-color: #bc390e;
}

.cases .content {
	margin: 7.785em 0 0 0;
	text-align: center;
}

.cases h2 {
	font-size: 2.75em;
	font-weight: 300;
	margin: 1.5em 0em 0.7em;
}

.cases h3 {
	font-weight: 400;
	font-size: 1.563em;
	margin: 1.5em 0;
}

.cases .devices {
	display: inline-block;
	width: 100%;
	margin-left: -40px;
}

.cases .devices li {
	display: inline-block;
	width: 19%;
	overflow: initial;
}